{% extends 'Base.html' %}

{% block title %}
    零部件管理
{% endblock %}

{% block styles %}
    #chars {
    box-sizing: border-box;
    width: 40%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-left: 5px;
    margin-top: 10px;
    }
    #header-link {
    color: black;
    }
{% endblock %}

{% block body %}
    {# 搜索框 #}
    <form class="form-inline my-2 my-lg-0" action={{ url_for('User.Component') }}>
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="key">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">查找</button>
        <div style="margin-left: 30px;">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addComponent">添加零部件信息
            </button>
        </div>
    </form>
    <div class="modal fade" id="addComponent" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">新增零部件信息</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action={{ url_for('User.addComponent') }} id="myForm"
                          onsubmit="return checkForm(this);">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">零件号:</label>
                            <input type="text" class="form-control" id="recipient-name" name="code">
                        </div>
                        <div class="form-group">
                            <label for="text" class="col-form-label">零件名称:</label>
                            <input type="text" class="form-control" id="recipient-name" name="name">
                        </div>
                        <div class="form-group">
                            <label for="text" class="col-form-label">出库价:</label>
                            <input type="text" class="form-control" id="recipient-name" name="price">
                        </div>
                        <div class="form-group">
                            <label for="text" class="col-form-label">货架位置:</label>
                            <input type="text" class="form-control" id="recipient-name" name="position" value="None">
                        </div>
                        <button type="submit" class="btn btn-primary">保存</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    </form>
                </div>
                <div class="modal-footer">


                </div>
            </div>
        </div>
    </div>
    {% if msg|length > 0 %}
        <br>
        {# 处理错误信息 #}
        <div class="alert alert-danger" role="alert">
            {{ msg }}
        </div>
        <meta http-equiv="refresh" content="3; url={{ url_for('User.Component') }}">
    {% endif %}

    {% if component_list|length > 0 %}
        <br>
        <table class="table">
            <thead>
            <tr>
                <th>零件号</th>
                <th>零件名称</th>
                <th>库存数量</th>
                <th>出库价</th>
                <th>货架位置</th>
            </tr>
            </thead>
            <tbody>
            {% for component in component_list %}
                <tr>
                    <td>{{ component.code }}</td>
                    <td>{{ component.name }}</td>
                    <td>{{ component.number }}</td>
                    <td>{{ component.to_price }}</td>
                    <td>{{ component.position }}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}



{% endblock %}