{% extends 'Base.html' %}

{% block title %}
    工单派工
{% endblock %}

{% block styles %}
    #chars {
    box-sizing: border-box;
    width: 40%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-left: 5px;
    margin-top: 10px;
    }
    #header-link {
    color: black;
    }
{% endblock %}


{% block body %}
    {% if wo_list|length >0 %}
        <hr>
        <div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">工单号</th>
                    <th scope="col">车牌号</th>
                    <th scope="col">车架号</th>
                    <th scope="col">车型</th>
                    <th scope="col">工单状态</th>
                    <th scope="col">服务顾问</th>

                </tr>
                </thead>
                <tbody>
                {% for wo in wo_list %}
                    <tr>
                        <th scope="col">{{ wo.code }}</th>
                        <th scope="col">{{ wo.car.code }}</th>
                        <th scope="col">{{ wo.car.car_code }}</th>
                        <th scope="col">{{ wo.car.model }}</th>
                        <th scope="col">
                            {% if wo.workers == False %}
                                未完成派工
                            {% else %}
                                已派工
                            {% endif %}

                        </th>
                        <th scope="col">{{ wo.master.username }}</th>
                        <th scope="col">

                            <button type="button" class="btn btn-success"
                                    onclick="window.location.href='/User/Startdispatch/{{ wo.code }}'">开始派工
                            </button>

                        </th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <br>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Not Data</h1>
                <p class="lead">你还没有创建任何的工单</p>
            </div>
        </div>
    {% endif %}
{% endblock %}