{% extends 'Base.html' %}

{% block title %}
    已结算工单管理
{% endblock %}

{% block styles %}
    #chars {
    box-sizing: border-box;
    width: 40%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-left: 5px;
    margin-top: 10px;
    }
    #header-link {
    color: white;
    }
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-4"> {# 关键字搜索框 #}
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="工单号或车牌号" aria-label="Search2" name="key">
                <button class="btn btn-outline-success" type="submit">搜索</button>
            </form>
            <br>
        </div>

        <div class="col-6"> {# 时间选择框 #}
            <form class="form-inline my-2 my-lg-0">
                <label>开始时间:</label>
                <input class="form-control mr-sm-4" type="date" name="start">
                <label>结束时间:</label>
                <input class="form-control mr-sm-4" type="date" name="end">
                <button class="btn btn-outline-success" type="submit">搜索</button>
            </form>
        </div>
    </div>
    <div class="row">

        {% if wo_list|length >0 %}
            <table class="table">
                <thead>
                <tr>
                    <th>工单号</th>
                    <th>车牌号</th>
                    <th>创建时间</th>
                    <th>结算时间</th>
                    <th>服务顾问</th>
                    <th>应收金额</th>
                    <th>实收金额</th>

                </tr>
                </thead>
                <tbody>
                {% for wo in wo_list %}
                    <tr>
                        <td>{{ wo.code }}</td>
                        <td>{{ wo.car.code }}</td>
                        <td>{{ wo.create_time }}</td>
                        <td>{{ wo.checkout_time }}</td>
                        <td>{{ wo.master.username }}</td>
                        <td>{{ wo.init_price }}</td>
                        <td>{{ wo.real_price }}</td>
                        <td>
                            <button type="button" class="btn btn-info"
                                    onclick="window.open('/print/{{ wo.code }}')">打印
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger"
                                    onclick="window.location.href='/cancel/{{ wo.code }}'">取消结算
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                {% if wo_list|length == 100 %}
                    <tr>
                        <td colspan="7">仅显示前100条</td>
                    </tr>
                {% endif %}

                </tbody>
            </table>

        {% endif %}
    </div>
{% endblock %}